
@import '~@material/react-top-app-bar/dist/top-app-bar.css';
@import '~@material/react-material-icon/dist/material-icon.css';
@import '~@material/react-drawer/dist/drawer.css';
@import '~@material/react-list/dist/list.css';
@import '~@material/react-card/dist/card.css';
@import '~@material/react-button/dist/button.css';
@import '~@material/react-layout-grid/dist/layout-grid.css';
@import '~@material/react-select/dist/select.css';
@import '~@material/react-menu-surface/dist/menu-surface.css';
@import "~@material/react-chips/dist/chips.css";
@import "~@material/react-text-field/dist/text-field.css";
@import '~@material/react-linear-progress/dist/linear-progress.css';
@import '~@material/react-top-app-bar/dist/top-app-bar.css';


#loginCard{
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;

  #tittle{
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 400px;

      h1{
          margin: 0 auto;
          margin-top: 20px;
          margin-bottom: 20px;
      }
  }

  #logoImg{
      padding-top: 40%; // 16:9,
      //margin: 0 auto;
      height: 30px;
      border-radius: 10px;
  }

  #textFieldArea{
      width: 100%;
      display: block;
      text-align: center;

      .textField{
          width: 80%;
          margin-bottom: 20px;
      }
  }

  .loginBtn{
      display: inline-block;
      margin: 0 auto;
      margin-top: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      background-color: #2E86C1;
      border-color: #2E86C1;
      width: 120px;
      vertical-align: middle;
  }
}

.warnMsg{
  width: 650px;
  height: 50px;
  background-color: #FADBD8;
  vertical-align: middle;
  margin: 0 atuo;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font: bold;
  margin: 0px;
}

html, body {
    height: 100%;
    background-color: #f0f3f9;
}

#mainGrid{
    height: calc( 100vh - 50px );
    padding: 0;
	width: 100vw;
    #messagePanel-bg{
        //border-style: solid;
        background-color: chartreuse;
        height: calc( 100vh - 100px );
        background-image: url('./Image/sky.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        color: black;
        border-bottom: solid black 1px;

        #messagePanel{
            //z-index: 110;
            //position: relative;
            color: black;
            width: 100vw;
            height: calc( 100vh - 100px );
            //overflow:auto;
            overflow-y:scroll;
            background-color: rgba(255, 255, 255, 0.6);

            #messagePanel::-webkit-scrollbar {
                width: 1em;
              }
               
              #messagePanel::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
              }
               
              #messagePanel::-webkit-scrollbar-thumb {
                background-color: darkgrey;
                outline: 1px solid slategrey;
              }


            .messageBox{
                margin: 10px;
                margin-left: 100px;
                margin-right: 100px;
                margin-top: 20px;
            }

            .messageBox_mine{
                @extend .messageBox;
                float: right;
            }

            .messageBox_other{
                @extend .messageBox;
                float: left;
            }

            .account_icon{
                vertical-align: middle;
                margin-right: 10px;
            }

            .message{
                vertical-align: middle;
                margin-bottom: 5px;
                margin-top: 2px;
                border-radius: 20px 20px 20px 20px;
                padding: 10px;
                padding-left: 20px;
                padding-right: 20px;
            }

            .message_mine{
                //display: inline-block;
                @extend .message;
                background-color: rgb(50, 205, 50);
            }
            .message_other{
                //display: inline-block;
                @extend .message;
                background-color: rgb(255, 255, 255);
            }
        }
    }
    #messageSender{
        height: 40px;
        vertical-align: middle;
        display: table;

        #msgTextEditInput{
            height: 50px;
        }
        #msgTextEdit{
            width: calc( 100vw - 100px );
            height: 50px;
            display: table-cell;
        }
        .wrapper-div {
            display: table-cell;
            vertical-align: middle;
        }
        #msgSendBtn{
            width: 100px;
            height: 50px;
            background-color: #01579B;
            border-style: none;
        }
        .mdc-text-field__input {
            border-bottom-color: rgba(0, 0, 255, 0.42);
        }
    }
}

.mdc-top-app-bar, .mdc-top-app-bar__row{
    height: 50px;
    background-color: rgba(8, 46, 84, 0.8);
    font-weight: bold;
    padding: 0;
    margin-bottom: 10px;
    max-width: 100vw;
}

.mdc-top-app-bar--fixed-adjust{
    padding-top: 50px;
    max-width: 100vw;
}



